 /* font style is here */
 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

 *{
    font-family: "Inter", sans-serif;
    background-color: #111111;
 }

 .text-color{
    color: #FFFFFF;
 }

 /* nav style is here */
 .navbar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }

.logoname{
    width: 20%;
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    color: #E6533C;
}

 .menus ul{
    width: 80%;
    display: flex;
    gap: 50px;
    justify-content: space-around;
    align-items: center;
 }

.button-one{
    padding: 8px 20px 8px 20px;
    background-color: #E6533C;
    border: none;
    border-radius: 40px;
    font-size: 18px;
    font-weight: 400;
}

 .menus>ul>li{
    text-decoration: none;
    list-style-type: none;
    font-size: 18px;
    font-weight: 400;
 }

 /* banner style is here */
 .banner-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .left-side-container{
    width: 50%;
 }

 .left-side-container h1{
    font-size: 70px;
    font-weight: 900;
 }

 .span-one{
    @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
    font-family: "Great Vibes", cursive;
 }

 .left-side-container p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
 }
 
 .btn-2{
    padding: 16px 40px 16px 40px;
    background-color:#E6533C;
    border: none;
    border-radius: 42px;
    margin-right: 20px;
 }

 .btn-3{
    padding: 16px 40px 16px 40px;
    background-color: none;
    border: none;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;

 }
 .right-side-container{
    width: 30%;
    height: 580px;
    background-image: url("../images/Images-2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }

 /* media query */



 /* habit section starts here */
 .habit-container{
    margin-top: 100px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
 }

 .habit-contents{
    width: 50%;
    margin: 0 auto;
    text-align: center;
 }
 .habit-contents h2{
    font-size: 45px;
    font-weight: 800;
 }

 .habit-contents p{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 50px;
 }

 .cards{
    display: flex;
    gap: 30px;
 }

 .card img{
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
 }
 .card h5{
    font-size: 18px;
    font-weight: 600;
 }

 .card p{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
 }
 /* responsive media query for habit section */
 @media screen and (max-width: 576px) {

 }

 /* Run Section style is here */
 .run-section-container{
   width: 80%;
   height: 350px;
   border: 1px solid rgba(255, 255, 255, 0.5); 
   margin: 0 auto;
   margin-top: 100px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   border-radius: 20px;

 }

.run-contents{
   width: 40%;
}

.run-contents h2{
   font-size: 45px;
   font-weight: 800;
}
.run-contents p{
   font-size: 14px;
   font-weight: 400;
   color: rgba(255, 255, 255, 0.5);
}

 .run-image img{
   width: 300px;
   height: 300px;
   border-radius: 20px;
 }
/* responsive media query for run-container*/



/* BMI calculator section starts here */
.bmi-calculator-container{
   margin-top: 100px;
}

.bmi-contents{
   width: 40%;
   margin: 0 auto;
}
.bmi-contents h2{
   font-size: 45px;
   font-weight: 900;
}
.bmi-contents p{
   font-size: 14px;
   font-weight: 400;
   color: rgba(255, 255, 255, 0.5);
}



.container-box{
   max-width: 100%;
   height: 400px;
   margin: 0 auto;
   margin-top: 80px;
   border: 1px solid white;
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.left-side-bmi h3{
   font-size: 25px;
   font-weight: 900;
}

.left-side-bmi table, th, td {
   border: 1px solid;
   padding: 10px;
   font-size: 16px;
 }

 table {
   border-collapse: collapse;
 }

.right-side-bmi{
   width: 50%;
}
.right-side-bmi h3{
   font-size: 25px;
   font-weight: 900;
}

.right-side-bmi p{
   font-size: 14px;
   font-weight: 400;
   color: rgba(255, 255, 255, 0.5);
}

 .left-side-bmi{
   width: 50%;
   margin-left: 80px;
 }

 .right-side-bmi input{
   padding: 12px 40px 12px 20px;
   background-color: rgba(255, 255, 255, 0.1);
   border-radius: 8px;
   border: none;
   margin-bottom: 10px;
   font-size: 16px;
   font-weight: 400;
 }
 #input-1{
   width: 30%;
 }
 #input-2{
   width: 30%;
 }
 #input-3{
   width: 30%;
 }
 #input-4{
   width: 30%;
 }
 #input-5{
   width: 69%;
 }

